{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
  {% block style %}
  .foto{
    width:100%;
    position:relative;
  }
  .foto img{
    width:100%;
    max-height: 400px;
  }

  .foto h1{
    position:absolute;
    bottom:200px;
    width:100%;
    text-align:center;
    color:rgba(243,243,243,.8);
    font-family:Verdana;
    /*font-size:18px;*/
    font-style: italic;
    background-color:rgba(0,0,0,.7);
    padding:.5em 0;
  }
.body-about{
  background-image: url("../static/img/fondoeicom.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  min-height: 100%;
}

.text-justified {
    text-align: justify;
}
/**/
  {% endblock %}
</style>

<body class="body-about">
{% include 'social.html' %}

    <div class=" foto">
        <img  class="responsive" src="{% static 'img/about2.jpg' %}" alt="foto">
        <h1>¿QUIÉNES SOMOS?</h1>
    </div>

            <div class="col-md-8 col-md-offset-2">
                <article>
                    <div class="page-header">
                        <h2 class="post-title">QUIÉNES SOMOS?</h2>
                        <p class="post-contenido text-justify" style="font-size: 25px;"><br>
                        Somos una empresa joven, pero con experiencia de ventas de equipo de computo,venta de accesorios, instalación de redes,
                        consumibles, mantenimiento preventivo, mantenimiento correctivos y más….
                    </p>
                    </div>
                </article>
            </div>

    <div class="col-md-10 col-md-offset-1">
        <img src="{% static 'img/misva.png' %}" alt="" class="img-responsive">
    </div>

</body>
{%endblock%}
