{% extends 'base.html'%}
{% load static %}
{% block head %}{{ titulo }} | {{ block.super }}{% endblock head %}
{% block content %}

    <header>
        <div class="contenedor animated fadeIn fast">
            <div class="contenedor-texto">
                <div class="texto">
                    <h1 class="about-us">Acerca de nosotros</h1>
                </div>
            </div>
        </div>
    </header>

<div class="contenedor animated fadeIn fast">
    <div class="main-contenedor">
        <div class="card">
            <div class="contenedor-card">
                <div class="header-card">
                    <img src="{% static 'img/us1.jpg' %}" alt="fondo tarjeta">
                </div>
                <div class="body-card">
                    <div class="contenido-card">
                        <h3 class="nosotros">¿QUIÉNES SOMOS?</h3>
                        <br>
                        <span>EICOM</span>
                        <p>
                            Somos una empresa joven, pero con experiencia de ventas de
                            equipo de computo,venta de accesorios, instalación de redes,
                            consumibles, mantenimiento preventivo, mantenimiento correctivos y más…
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="contenedor-card">
                <div class="header-card">
                    <img src="{% static 'img/us3.jpg' %}" alt="fondo tarjeta">
                </div>
                <div class="body-card">
                    <div class="contenido-card">
                        <h3> NUESTRA MISION</h3>
                        <p> Ser una empresa dedicada a la prestación de servicios
                            en lo que a equipo de cómputo se refiere, además de la venta
                            de equipos y accesorios nuevos, bajo los requerimientos acordados
                            con nuestros clientes, ofreciendo siempre la más alta calidad en
                            cada servicio y producto vendido.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="contenedor-card">
                <div class="header-card">
                    <img src="{% static 'img/us4.jpg' %}" alt="fondo tarjeta">
                </div>
                <div class="body-card">
                    <div class="contenido-card">
                        <h3> NUESTRA VISIÓN</h3>
                        <p>
                            Convertirnos en una empresa capaz de satisfacer las exigencias y gustos
                            del mercado informático y tecnológico, por medio del cual lleguemos a posicionarnos
                            entre una de las mejores empresas proveedoras de servicios y venta de equipo de cómputo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-valores">
            <div class="contenedor-card">
                <div class="header-card">
                    <img src="{% static 'img/values.jpg' %}" alt="fondo tarjeta">
                </div>
                <div class="body-card">
                    <div class="contenido-card">
                        <h3>NUESTROS VALORES</h3>
                        <div class="contenedor-valores">
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Honradez:</strong> una persona honrada cuando armoniza las palabras con los hechos.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Ética:</strong> una persona es ética cuando se orienta por principios y convicciones,
                                se dice entonces que tiene carácter y buena índole.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Respeto:</strong> implica un verdadero interés no egoísta por el otro mas allá de las
                                obligaciones explícitas que pueden existir.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Privacidad:</strong> ámbito de la vida personal de un individuo desarrollado en un espacio
                                que debe de mantenerse confidencial. En el ámbito computacional la privacidad se
                                define como el derecho de mantener de forma reservada o confidencial los datos de la
                                computadora y los que intercambia con su red.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Eficacia:</strong> la eficacia tiene que ver con los resultados, está relacionada con lograr
                                los objetivos.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong>Eficiencia:</strong> se enfoca a los recursos, a utilizarlos de la mejor manera.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Responsabilidad:</strong> guarda relación con el asumir las consecuencias de todos aquellos
                                actos que realizamos en forma consciente e intencionada.
                            </div>
                            <div class="valores">
                                <i class="fa fa-angle-double-right"></i><strong> Honestidad:</strong> es la conciencia clara “ante mí y ante los demás”. Honestidad es el
                                reconocimiento de lo que está bien y es apropiado para nuestro propio papel,
                                conducta y relaciones, es hablar de lo que se piensa y hacer lo que se ha dicho.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html'%}
{%endblock content%}
