{% load static %}

<div class="barra-top">
    <div class="contenedor-items">
        <div class="left">
            <i class="fa fa-users"></i><a href="{% url 'start:about' %}"> Nosotros</a>
            <i class="fa fa-id-card"></i><a href="{% url 'start:contact' %}"> Contacto</a>
        </div>
        <div class="middle">
            <div class="contenedor-telefono">
                <i class="fa fa-phone-square"></i> (653) 518 15 19 <span>/</span> (653) 518 15 19
            </div>
        </div>
        <div class="right">
            <a href="https://www.facebook.com/Eicom/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
        </div>
    </div><!--.contenedor-items-->
</div><!--.barra-top-->