{%load static%}

{% block content %}

<div class="contenedor-breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{% url 'start:inicio' %}">INICIO</a></li>
        {% if instance.categoria %}
            <li><a href="{% url 'start:categoria' instance.categoria.slug %}">{{ instance.categoria }}</a></li>
            {% if instance.nombre %}
                <li><a href="#">{{ instance.nombre }}</a></li>
            {% endif %}
        {% endif %}
    </ol>
</div>

{% endblock content %}
