{%load static%}
<style>
    {% block style %}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

* {
  margin: 0;
  padding: 0;
}

    {% endblock style %}
</style>
<div class="container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'start:inicio' %}">Inicio</a></li>
      {% if instance.categoria %}
        <li><a href="{% url 'start:filtro' instance.categoria %}">{{ instance.categoria }}</a></li>
        {% if instance.nombre %}
          <li><a href="#">{{ instance.nombre }}</a></li>
        {% endif %}
      {% endif %}
    </ol>
  </div>
</div>
