{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ instance.nombre }} | {{ block.super }}{% endblock head_title %}
{% block content %}
        <div class="contenedor">
            {% include 'breadcrumb.html' %}
            {% if user.is_authenticated %}
                <div class="opciones">
                    <a href="{% url 'start:editar' slug=instance.slug %}" class="controles-modificar">
                        <i class="fa fa-pencil-square-o"></i> MODIFICAR PRODUCTO
                    </a>
                    <a class="confirm-delete controles-borrar" href="{% url 'start:borrar' slug=instance.slug %}">
                        <i class="fa fa-eraser"></i> BORRAR PRODUCTO
                    </a>
                </div>
            {% endif %}

            <div class="main-detalles">
                <div class="contenedor-detalles">
                    <div class="header-detalles">
                        {% if instance.imagen %}
                            <img src="{{ instance.imagen.url }}" alt="detalles-producto"/>
                       {% endif %}
                    </div>
                    <div class="body-detalles">
                        <p>{{ instance.nombre }}</p>
                        <span class="clave-detail"><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Clave:</strong> {{ instance.clave }}</span>
                        <span class="modelo-detail"><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Modelo:</strong> {{ instance.modelo }}</span>
                        <span class="marca-detail"><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Marca:</strong> {{ instance.marca }}</span>
                        {% if user.is_authenticated %}
                            <span class="precio-detail"><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> $</strong> {{ instance.precio }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="footer-detalles">
                <div class="contenedor-footer-detalles">
                    <div class="descripcion-detalles">
                        <span class="texto-descripcion">Descripción:</span>
                        <p>{{ instance.descripcion}}</p>
                    </div>
                    <div class="galeria-detalles">
                        <span class="texto-galeria">Galería:</span>
                        {% if instance.imagen %}
                            <div class="contenedor-imagen zoom-galeria" >
                                <a href="{{ instance.imagen.url }}" data-lightbox="galeria">
                                    <img src="{{ instance.imagen.url }}" class="img-responsive " alt="imagen 1"/>
                                </a>
                            </div>
                        {% endif %}
                        {% if instance.image_1 and isntace.image_2 and instance.image_3 %}
                            <div class="contenedor-imagen zoom-galeria" >
                                <a href="{{ instance.imagen_1.url }}" data-lightbox="galeria">
                                    <img src="{{ instance.imagen_1.url }}" class="img-responsive " alt="imagen 2"/>
                                </a>
                            </div>
                            <div class="contenedor-imagen zoom-galeria">
                                <a href="{{ instance.imagen_2.url }}" data-lightbox="galeria">
                                    <img src="{{ instance.imagen_2.url }}" class="img-responsive " alt="imagen 3"/>
                                </a>
                            </div>                        
                            <div class="contenedor-imagen zoom-galeria">
                                <a href="{{ instance.imagen_3.url }}" data-lightbox="galeria">
                                    <img src="{{ instance.imagen_3.url }}" class="img-responsive " alt="imagen 4"/>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% include 'footer.html'%}
{% endblock content %}
