{% extends 'base.html' %}

{% block head %}{{ titulo }} | {{ block.super }}{% endblock head %}

{% load crispy_forms_tags %}

{%block head_extra%}
    {{form.media}}
{%endblock head_extra%}

{% block content %}

<div class="contenedor animated fadeIn fast">
    <div class="contenedor-formulario-equipo">
        <div class="header-formulario-equipo">
            <p>{{titulo}} </p>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            <div class="primera-seccion">
                <div class="clave-equipo">
                    {{ form.clave|as_crispy_field }}
                </div>
                <div class="nombre-equipo">
                    {{ form.nombre|as_crispy_field }}
                </div>
                <div class="marca-equipo">
                    {{ form.marca|as_crispy_field }}
                </div>
                <div class="modelo-equipo">
                    {{ form.modelo|as_crispy_field }}
                </div>
            </div>

            <div class="segunda-seccion">
                <div class="familia-equipo">
                    {{ form.familia|as_crispy_field }}
                </div>
                <div class="categoria-equipo">
                    {{ form.categoria|as_crispy_field }}
                </div>
                <div class="lineas-equipo">
                    {{ form.linea|as_crispy_field }}
                </div>
                <div class="precio-equipo">
                    {{ form.precio|as_crispy_field }}
                </div>
            </div>

            <div class="tercera-seccion">
                <div class="top-equipo">
                    {{ form.top_vendido|as_crispy_field }}
                </div>
                <div class="promo-equipo">
                    {{ form.promo|as_crispy_field }}
                </div>
                <div class="nuevo-equipo">
                    {{ form.nuevo|as_crispy_field }}
                </div>
            </div>

            <div class="cuarta-seccion">
                <div class="descripcion-equipo">
                    {{ form.descripcion|as_crispy_field }}
                    <br><br>
                </div>
            </div>

            <div class="quinta-seccion">
                <div class="imagen-equipo">
                {{ form.imagen|as_crispy_field }}
            </div>
            <div class="imagen1-equipo">
                {{ form.imagen_1|as_crispy_field }}
            </div>

            <div class="imagen2-equipo">
                    {{ form.imagen_2|as_crispy_field }}
                </div>
                <div class="imagen3-equipo">
                    {{ form.imagen_3|as_crispy_field }}
                </div>
            </div>

            <div class="form-buttons-equipo">
                <a href="/" role="button">Cancelar</a>
                <input class="save-button" type="submit" value="Guardar"/>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

