{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ instance.nombre }} | {{ block.super }}{% endblock head_title %}
{% block content %}
    <style>
        {% block style %}
            .align-detail {
                color: orangered;
            }
            .padding-detail {
                padding-top: 1cm;
            }
            .img-detail {
                width: 70%;
                height: 70%;
            }
            .controles {
                padding: 0 20px;
                text-transform: uppercase;
                font-weight: bold;
            }
        {% endblock style %}
    </style>
    <body>
        <div class="container">
            {% if user.is_authenticated %}
                <a href="{% url 'start:editar' slug=instance.slug %}" class="controles"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                <a class="confirm-delete controles" href="{% url 'start:borrar' slug=instance.slug %}"><span class="glyphicon glyphicon-remove"></span> Borrar</a>
                <script type="text/javascript">
                    $(document).on('click', '.confirm-delete', function(){
                        return confirm('Desea borrar el registro {{ instance.clave }}?');
                    });
                </script>
            {% endif %}
            <div class="col-md-12">
                <div class="col-md-6 padding-detail">
                    {% if instance.imagen %}
                        <img src="{{ instance.imagen.url }}" class="img-responsive thumbnail img-detail" alt=""/>
                   {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="page-header">
                        <h2 class="align-detail">ESPECIFICACIONES:</h2>
                    </div>
                    <p><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Clave:</strong> {{ instance.clave }}
                    <hr>
                    <p><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Modelo:</strong> {{ instance.modelo }}
                    <hr>
                    <p><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Marca:</strong> {{ instance.marca }}
                    <hr>
                    {% if user.is_authenticated %}
                      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i><strong> Precio:</strong> {{ instance.precio }}
                      <hr>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <div class="page-header">
                        <div class="page-header">
                            <h1 class="align-detail">{{ instance.nombre }}</h1>
                        </div>
                        <h3>Descripción: </h3>
                        <p>{{ instance.descripcion}}</p>
                        <hr>
                        <h4 class="align-detail">GALERÍA:</h4>
                    </div>
                    {% include 'slideshow_imagenes_productos.html'%}
                    <hr>
                </div>
            </div>
        </div>
        {% include 'footer.html'%}
    </body>
{% endblock content %}
