{% load static %}
<style>
    {% block style %}

        .color-footer-index {
            height: 62.53px;
            padding-top: 0.1cm;
            background-color: #000000;
            padding-bottom: 0.1cm;
        }
        .text-footer{
            padding-bottom: 50%;

        }

    {% endblock style %}
</style>

<footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 color-footer-index">
                    <a href="/">EICOM.COM <i class="fa fa-registered" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
</footer>

