{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
{%block style%}

    .fondo-inicio {
    /*background-image: url(../img/.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 650px;
    }

    body {
        background-color: #25343F;
        /*color: rgba(243,243,243,.8);*/
    }
    .zoom{
        transition: 200ms ease;
        -moz-transition: 200ms ease; /* Firefox */
        -webkit-transition: 200ms ease; /* Chrome - Safari */
        -o-transition: 200ms ease; /* Opera */
    }
    .zoom:hover{
        transform : scale(1.05);
        -moz-transform : scale(1.05); /* Firefox */
        -webkit-transform : scale(1.05); /* Chrome - Safari */
        -o-transform : scale(1.05); /* Opera */
        -ms-transform : scale(1.05); /* IE9 */
    }
    .text-align-index {
        text-align: center;
    }
    .div-footer-index {
        height: 100px;
    }
    /*.buttons-index {*/
        /*position: ;*/
        /*bottom:200px;*/
    /*}*/

  /*div { border-style: outset; border-width: 1px; }*/

{%endblock%}
</style>

    <body>
        {% include 'social.html'%}
        {% include 'slideshow.html' %}<br>
        <div class="col-md-12 container-fluid">
            <div class="panel">
                <div class="panel-body">
                    <div class="container col-md-10 col-md-offset-1">
                        <div class="row">
                            {% for obj in object_list %}
                                <div class="col-md-4 zoom text-align-index">
                                    <div class=""><br>
                                        {% if obj.imagen %}
                                            <img src="{{ obj.imagen.url }}" class="img-responsive thumbnail" alt=""/>
                                        {% endif %}
                                        <div class="caption">
                                            <div class="page-header">
                                                <h3><a href="{{ obj.get_absolute_url }}">{{ obj.nombre }}</a></h3>
                                            </div>
                                            <h5><a href="{{ obj.get_absolute_url }}">{{ obj.modelo }}</a></h5>
                                        </div>
                                        <br>
                                        <div class="caption div-contendor">
                                                <!--<p>{{ obj.sistema_operativo}},-->
                                                <!--{{ obj.procesador}},-->
                                                <!--{{ obj.video}},-->
                                                <!--{{ obj.memoria_ram}},-->
                                                <!--{{ obj.ram }},-->
                                                <!--{{ obj.tarjeta_madre }},-->
                                                <!--{{ obj.disco_duro }}</p><br>-->
                                            <p><h2>$ {{ obj.precio }}</h2></p>
                                            <div class="footer buttons-index"><br>
                                                <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary btn-block" role="button">Ver detalles completos</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <br><hr>
                                    <br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination pull-right">
            <span class="step-links">
                {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">Anterior</a>
                {% endif %}
            <span class="current">
                Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
            </span>
                {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">siguiente</a>
                {% endif %}
            </span>
        </div>
        <footer class="">
            {% include 'footer.html' %}
        </footer>
    </body>
{% endblock %}
