{%block content%}
{% load static %}
{% load filtro_tag %}
<style>
  {%block style%}

    body {
        min-height:inherit;
        padding-top: 50px;
    }
    .navbar-inverse .navbar-nav>li>a
    {
        color:#777;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: black;
    }
    .navbar-brand {
        background: #4CAF50;
        color: white;
        padding: 0px;
    }
    .navbar-brand>img {
        height: 100%;
        width: auto;
    }
  .navbar {
      background: rgba(255,255,255, 1);
      border-color: #e3e3e3;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
    {
        background: #20d24d;
        color:white;
    }


/*.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {*/
    /*color: #fff;*/
    /*background-color: #28d828;;*/
/*}*/

{%endblock style%}
</style>
<body>
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-ns">
                <span class="sr-only">Desplegar / Ocultar Menú</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img id="" class="" src="{% static 'img/eicombrand.jpg' %} " alt=""/></a>
            </div>
        <!-- Menú -->
            <div class="collapse navbar-collapse" id="navegacion-ns">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/">Inicio</a></li>
                    <li class="dropdown li-activo">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Categorías <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% categorias_lista as categorias %}
                        {% if categorias %}
                        {% for obj in categorias %}
                            <li><a href="{% url 'start:filtro' filtro=obj.categoria %}"/>{{ obj }}</a></li>
                        {% endfor %}
                        {% else %}
                            <li><a href="#">Empty</a></li>
                        {% endif %}
                    </ul>
                    </li>

                    <li><a href="{% url 'start:contact' %}">Contáctanos</a></li>
                    <li><a href="{% url 'start:about' %}">Acerca de nosotros</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    <!--<li><a href="{% url 'start:about' %}">Acerca de nosotros</a></li>-->
                    <!--<li><a href="{% url 'start:contact' %}">Contacto</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</body>
{%endblock content%}


