{% block content %}
    <div class="pagination">
        <div class="prev_next">
            <div class="pages">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li><a class="prev btn btn-info" href="?page={{object_list.previous_page_number}}">Anterior</a></li>
                    {% endif %}
                    {% for pg in page_range %}
                        {% if object_list.number == pg %}
                            <li><a href="?page={{pg}}" class="btn btn-default btn-active">{{pg}}</a></li>
                        {% else %}
                            <li><a href="?page={{pg}}" class="btn-numeracion">{{pg}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if object_list.has_next %}
                        <li><a class="next btn btn-info" href="?page={{object_list.next_page_number}}">Siguiente</a></li>
                    {% endif %}
                </ul>
            </div>
            <span class="clear_both"></span>
        </div>
    </div>
{% endblock content %}

