{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    {%block style%}
        .div-login {
        padding-top: 3cm;
        }
    .body-login {
        background: white;
    }
  {%endblock style%}
</style>

<body class="body-login">
    <div class="col-md-4 col-sm-offset-4">
        <div class="col-md-12 div-login">
            <h2 class="text-align-center"><strong>Iniciar Sesión</strong></h2>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy}}
                <br>
                <input class="btn btn-block btn-primary" type="submit" value="{% trans 'Iniciar sesion' %}" />
                <input type="hidden" name="next" value="{{ next }}" /><br>
            </form>
            <p style="text-align:center;">{% trans "Has olvidado tu contrasena" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Restablecer" %}</a>!</p>
            <p style=" text-align:center;">{% trans "No tienes cuenta" %}? <a href="{% url 'registration_register' %}">{% trans "Registrarte" %}</a>!</p><br>
        </div>
    </div>
</body>
{% endblock content%}
