{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    {%block style%}
        .div-login {
        padding-top: 1cm;
        }
    .body-login {
        background: white;
    }
  {%endblock style%}
</style>
<body class="body-login">
    <div class="col-md-4 col-sm-offset-4">
        <div class="col-md-12 div-login">
            <h3 class="text-align-center"><strong>REGISTRARSE</strong></h3><br>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy}}
                <br>
                <input class="btn btn-block btn-primary" type="submit" value="{% trans 'Enviar' %}" />
                <input type="hidden" name="next" value="{{ next }}" /><br>
            </form>
            <p>No estás registrado aún? <a href="{% url 'auth_login' %}"> Iniciar Sesión.</a></p><br>
        </div>
    </div>
</body>
{% endblock content%}