{% extends 'base.html'  %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
    {% block style %}
        .jumbotron {
            /*background-color:rgb(63, 65, 66) !important;*/
            background-color:#eee !important;
            color: inherit !important;
            text-align: justify;
        }
    .fa-5x {
        font-size: 6em !important;
    }
    .My-Text-Color {
        color: inherit;
    }
    #bg{
        background-size: 1800px 900px;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
    }
    {% endblock %}
</style>

{% block jumbotron%}
{% if request.user.is_staff%}
{{ queryset }}
{% else %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="text-align: center">NeroSoft</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                    <a class=" btn-lg btn-primary" href="../../components/#navbar" role="button">Únete &raquo;</a>
                </p>
            </div>
            <!--<div class="col-sm-6"><img src="{% static 'img/keyboard.jpg' %}" class="img-responsive">-->
                
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/6WeYDDlToOI?list=PLUAh0xzkWmosSdqTjxg9yHG3Q3J4PQB5X" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

<!--{{ titulo }}<br/>-->
<!--{{ request.user }}<br/>-->
<!--<hr/>-->
<!--<br/>-->

{% block content  %}
{% if not request.user.is_staff%}
<div class="row">
    <div class="col-sm-3 col col-xs-12 pull-right My-Text-Color">
        {% if not user.is_authenticated %}
        <p class="lead text-align-center ">Suscríbete</p>
        <form method = 'POST' action="">{% csrf_token %}
            {{ el_form|crispy }}
            <input class="btn btn-block btn-primary" type="submit" value="Registrar"/>
        </form>
        {% else %}
        <p class="lead text-align-center My-Text-Color">{{ titulo }}<br/><br/><br/><br/>
        <i class="fa fa-hand-peace-o fa-4x"></i></p>
        {% endif %}
    </div>
    <br/>
    <div class="col-sm-3">
        <p class="lead text-align-center My-Text-Color ">Un ejemplo completo y sencillo. <br/><br/>
            <span class="fa-stack fa-3x">
                <i class="fa fa-spinner fa-spin fa-stack-2x"></i>
                <i class="fa fa-hand-spock-o fa-stack-1x"></i>
            </span>
        </p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-align-center My-Text-Color">Creado con Python-Django & bootstrap</p>
        <img class="img-responsive" src="{% static 'img/python.jpg' %}">
    </div>
    <div class="col-sm-3">
        <p class="lead text-align-center My-Text-Color">Apoyando la implementación de código abierto. <br/>
            <span class="fa-stack fa-3x">
                <i class="fa fa-television fa-stack-2x" ></i>
                <i class="fa fa-terminal fa-stack-0x"></i>
                <!--<i class="fa fa-twitter fa-stack-1x"></i>-->
            </span>
        </p>
    </div>
</div>
<hr/>
{% endif %}
{% endblock %}